// Windows Resource File
1 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "DNP3 Tools"
      VALUE "FileDescription", "DNP3 Protocol Tester Application"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "ProductName", "DNP3 Tester"
      VALUE "ProductVersion", "1.0.0.0"
      VALUE "LegalCopyright", "Copyright © 2025"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1200
  }
}
